# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Environment variables
.env
.env.*
!.env.example

# Node.js dependencies & builds
node_modules/
dist/

# Dataset & large training data
model/fer2013/

# Logs & temp
*.log
emotion_log.csv

# Compiled class file
*.class

# Package Files
*.jar
*.war
*.zip
*.tar.gz
*.rar

